<div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">Waiter Web App</div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="/login">Log Out</a></li>
                        <li><a href="/sign-up">Reset Data</a></li>
					</ul>
                </div>
            </div>
        </div>
    </div>