<div class="panel panel-default">
	<div class="panel-body">

		<div class="col-md-8">
			<h4>Waiter Web App</h4>
		</div>

		<div class="col-md-8">
			<div class="btn-group-vertical" role="group" aria-label="...">
				<ul>
					<li><a href="/login" class="myButton">Log Out</a></li>
					<li>|</li>
					<li>New Week Starting?</li>
					<li><a href="/admin/resetData" class="myButton">Reset Data</a> data now.</li>
				</ul>
			</div>
		</div>
	</div>
</div>