<div class="panel panel-default">
	<div class="panel-body">

		<div class="col-md-8">
			<h4>Waiter Web App</h4>
		</div>

		<div class="col-md-8">
			<div class="btn-group-vertical" role="group" aria-label="...">
				<ul>
					<li>Already have an account?</li>
					<li><a href="/login" class="myButton">Log In</a></li>
					<li>New To This?</li>
					<li><a href="/sign-up" class="myButton">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>