<div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8"><h4>Waiter Web App</h4></div>
                <div class="col-md-4">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        <a href="/login" class="myButton">Log Out</a>
					</div>
                </div>
            </div>
        </div>
    </div>