<!DOCTYPE html>
<html>
    <head>
        <title>Waiter Web App</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/style.css">
    </head>


    <body>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">Waiter Web App</div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="/login">Login</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1>Waiter App</h1>
        <p>Easy. Simple. Fast.</p>
    </div>


        {{{body}}}

    </body>

</html>