<!DOCTYPE html>
<html>
    <head>
        <title>Waiter Web App</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="/css/style.css">
    </head>
	
    <body>
		
    	<script src="/javascript/validations.js" charset="utf-8"></script>
		<script src="/javascript/main.js" charset="utf-8"></script>
        {{{body}}}
		
	
		<footer class="footer">
					<a href="https://github.com/GarethW1994/waiter_webapp"><div class="github"></div></a>
		</footer>
	</body>

</html>