<ul class="weekPanel">

	<li>Sunday <span class="badge">4</span></li>
	<li>Monday</li>
	<li>Tuesday</li>
	<li>Wednesday</li>
	<li>Thursday</li>
	<li>Friday</li>
	<li>Saturday</li>
</ul>

<table class="table">
  	<tr>
		<th>Name</th>
		<th>Surname</th>
		<th>Days Available</th>
	</tr>
	
	<tr>
{{#each data}}
		<td>{{waiter_name}}</td>
		<td>{{waiter_surname}}</td>
{{/each}}	
		<td>
			<ul>
			{{#days}}
				<li>{{this}}</li>
			</span>
			{{/days}}
			</ul>
		</td>
	</tr>

</table>