<table class="table">
  	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Surname</th>
		<th>Days Available</th>
	</tr>
	
{{#each data}}
	<tr>
		<td>{{_id}}</td>
		<td>{{waiter_name}}</td>
		<td>{{waiter_surname}}</td>
		<td>{{waiter_days}}</td>
{{/each}}
		
	</tr>
</table>