{{> defaultNav}}

<div class="container">
	<div class="form-container">
		<h3 id="heading">Welcome</h3>
		<p>
			This web application allows you to schedule weekly waiter shifts.
		</p> 
		<p>Waiters can:</p> 
		<ol>
			<li>login select days they can work.</li>
			<li>update the days they can work</li>
		</ol>
		
		<p>An admin user can:</p>
		<ol>
			<li>see how many waiters are available to work.</li>
			<li>reset the data to use the system for a new week.</li>
		</ol>
		
		<p>Give it a try by creating an <a href="/sign-up">account</a>.</p>
	</div>

</div>