{{> defaultNav}}

<div class="container">
	<div class="form-container">
		<h3 id="heading">Login</h3>
		<form class="form-inline" method="post" action="/login">
			<div class="form-group">
			<div class="row">
				<label for="exampleInputName2">Username: </label>
				<input type="text" class="form-control" id="username2" placeholder="enter username" name="username">
			</div>

			<div class="row">
				<label for="exampleInputName2">Password: </label>
				<input type="password" class="form-control" id="password2" placeholder="enter password" name="password">
			</div>
				
		<div class="row">
				<input type="submit" class="btn btn-primary" id="login-button" value="Login">
		</div>
			
		<div class="row">
				<span id="errorMessLogin">.</span>
		</div>

			</div>
		</form>
	</div>

</div>