<div class="container">
    <div class="login-Container">
        <h3>Login</h3>
        <form class="form-inline" method="post" action="login">
            <div class="form-group">
            <label for="exampleInputName2">Username: </label>
                <input type="text" class="form-control" id="username" placeholder="enter username" name="username">
                <br/>
                <input type="submit" class="btn default" id="login-button" value="Login">
            </div>
    </form>
</div>
</div>