<div class="container">
    <div class="login-Container">
		
		<span class="label label-success">Welcome, {{username}}</span>
        
		<h3>Select Days You Can Work:</h3>
		
		
        <form class="form-inline" method="post" action="login/{{username}}">
        
			<div class="form-group">
            
				{{#each days}}
                	<div class="checkbox">
                		<label>
                    		<input type="checkbox" value="{{this}}" name="day">{{this}}
						</label>
            		</div>
            	{{/each}}
				
            </div>
			
			<br/>
			
			<input type="submit" class="btn btn-primary" value="Update">
        </form>
		
		
		
    </div>
</div>