
<div class="error">
		{{> flash}}
</div>


<div class="container">
	
    <div class="login-Container">
    
		<h3>Sign Up</h3>
        
		<form class="form-horizontal" method="post" action="sign-up">
            <div class="form-group">
		
			<label for="exampleInputName2">Name: </label>
				<input type="text" class="form-control" id="name" placeholder="enter name" name="name">              

			<label for="exampleInputName2">Surname: </label>
                <input type="text" class="form-control" id="surname" placeholder="enter surname" name="surname">              
		
			<label for="exampleInputName2">Username: </label>
                <input type="text" class="form-control" id="username" placeholder="enter username" name="username">
			
            <label for="exampleInputName2">Password: </label>
                <input type="password" class="form-control" id="password" placeholder="enter password" name="password">
		
                <input type="submit" class="btn btn-primary" id="login-button" value="Sign Up">
			</div>
    </form>
</div>
</div>