{{> defaultNav}}

<div class="container">


	<div class="form-container">
<div class="row">
		<h3>Sign Up</h3>
</div>
		<form class="form-horizontal" method="post" action="sign-up">
			<div class="form-group">
			<div class="row">
				<p>Fields marked with the <span id="important">*</span> symbol are important fields.</p>
			</div>
			
			<div class="row">
				<label for="exampleInputName2"><span id="important"> * </span> Name: </label>
			</div>
				
			<div class="row">
				<input type="text" class="form-control" id="name" placeholder="enter name" name="name">
			</div>
		
				
			<div class="row">
				<label for="exampleInputName2">Surname: </label>
			</div>
				
			<div class="row">	
				<input type="text" class="form-control" id="surname" placeholder="enter surname" name="surname">
			</div>
				
			<div class="row">
				
				<label for="exampleInputName2"><span id="important"> * </span> Username: </label>
			</div>
			
			<div class="row">	
				<input type="text" class="form-control" id="username" placeholder="enter username" name="username">
			</div>
				
			<div class="row">	
				<label for="exampleInputName2"> <span id="important"> * </span> Password: </label>
			</div>
			
			<div class="row">	
				<input type="password" class="form-control" id="password" placeholder="enter password" name="password">
			</div>
				
			<div class="row">	
				<input type="submit" class="btn btn-primary" id="login-button" value="Sign Up">
			</div>
				<span id="errorMess"> Checking..</span>
			</div>
		</form>
	</div>
</div>